<html lang="en">
    <%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/admin-nav.ejs')  %> 

    <div class="wrapper">
        <div class="fullWBanner admin">
            <h1>BOOKS</h1>
        </div>
    
        <div class="content noTopMargin">

            <div class="createNew" onclick="newPanel()">
                + POST NEW BOOK
            </div>

        <% if (books.length > 0) { %>
            <% books.forEach((thebook, index) => { %>
                <div class="bookContainer <%- thebook.published ? 'published' : null %>" id="<%= thebook.name %>" data-index='<%= index %>'>
                    <div class="book-text">
                        <div class="names">
                            <p><b>ID: </b><%= thebook.slug %><br/>  <b>Status:</b> <span class="<%- thebook.published ? 'published' : 'draft' %>"><%- thebook.published ? 'Published' : 'Draft' %></span>,  <b>Updated at:</b> <% var date = new Date(thebook.updatedAt); var dateStr = ("00" + (date.getMonth() + 1)).slice(-2) + "/" + ("00" + date.getDate()).slice(-2) + "/" + date.getFullYear() + " " + ("00" + date.getHours()).slice(-2) + ":" + ("00" + date.getMinutes()).slice(-2) + ":" + ("00" + date.getSeconds()).slice(-2);%><%=dateStr%></p>
                            <div class="renameBtn" data-name="<%= thebook.slug %>">
                                <h3><%= thebook.title %></h3>
                                <p><b>Subtitle: </b><%= thebook.subtitle %></p>
                            </div>

                            <div class="actions screen">
                                <a href="edit/<%= thebook.slug %>">
                                    <div class="actionBtn" data-name="<%= thebook.slug %>">Edit</div>
                                </a>

                                <% if(thebook.published == true) { %>
                                    <div class="pubBtn actionBtn" data-id="<%= thebook.slug %>" data-pub=<%= thebook.published %>>
                                    Unpublish
                                  <% } else { %>
                                    <div class="pubBtn actionBtn" data-id="<%= thebook.slug %>" data-pub=<%= thebook.published %>>
                                    Publish
                                  <% } %>
                                </div>

                                <div class="actionBtn deleteBtn" data-name="<%= thebook.slug %>">Delete</div>

                                <div class="actionBtn upBtn <%if(thebook.index == books.length - 1) { %>disabled<% } %>" data-name="<%= thebook.slug %>" data-index="<%= index %>">
                                    <img src="../images/admin/up.svg" alt="TSG">
                                </div>

                                <div class="actionBtn downBtn <%if(thebook.index == 0) { %>disabled<% } %>" data-name="<%= thebook.slug %>" data-index="<%= index %>">
                                    <img src="../images/admin/down.svg" alt="TSG">
                                </div>
                            </div>
                            <div class="actions mobileactions">
                                <a href="edit/<%= thebook.slug %>">
                                    <div class="actionBtn" data-name="<%= thebook.slug %>">Edit</div>
                                </a>
                                <% if(thebook.published == true) { %>
                                    <div class="pubBtn actionBtn" data-id="<%= thebook.slug %>" data-pub=<%= thebook.published %>>
                                    Unpublish
                                  <% } else { %>
                                    <div class="pubBtn actionBtn" data-id="<%= thebook.slug %>" data-pub=<%= thebook.published %>>
                                    Publish
                                  <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="coverthumb coverBtn" data-name="<%= thebook.slug %>">
                            <% if(thebook.featimg) { %>
                            <img src="https://mikesager.s3.amazonaws.com/book/<%= thebook.slug %>/cover.jpg" alt="cover">
                            <% } else { %>
                                <img src="../images/global/TheSagerGroup_Logo_white.svg" alt="TSG">
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
            <% } else { %>
                    <p>No post to display</p>
            <% } %>
        
    </div>

    <!-- Create New Book Panel -->
    <div class="hidden" id="transparentScreen" onclick="newPanel()">
    </div>
    <div class="popups hidden" id="newPanel">
        <h3>CREATE NEW BOOK</h3>
        <div class="closebtn" onclick="newPanel()"></div>
        <p class="exp">The ID has to be <b>unique, lower case, and one word</b> (use hyphen to connect words). It will be used for the URL. i.e.'mikesager.com/book/<b>book-title</b>'</p>
        <form id="newBookForm" action="/bookList" method="POST">
            <div class="formItem">
                <label for="slug">ID*</label>
                <input type="text" id="slug" name="slug"  placeholder="i.e. book-title"/>
            </div>
            <div class="formItem">
                <label for="booktitle">Title*</label>
                <input type="text" id="booktitle" name="booktitle" />
            </div>
            <div class="formItem">
                <label for="subtitle">SubTitle</label>
                <input type="text" id="subtitle" name="subtitle" />
            </div>
            <div class="formItem">
                <label for="author">Author*</label>
                <input type="text" id="author" name="author" value="Mike Sager"/>
            </div>
            <button class="disabled" id="createBtn" disabled>CREATE</button>
        </form>
    </div>
    
    <!-- Delete Book Panel -->
    <div class="hidden" id="transparentScreen2" onclick="deletePanel()"></div>
    <form class="popups hidden" id="deletePanel" action="/bookDelete" method="POST">
        <h3>Deleting book "<span class="bookNameHere"></span>"</h3>
        <div class="closebtn" onclick="deletePanel()"></div>
        <p>Are you sure you want to delete this book?<br/>You can not undo this action.</p>
        <input class="hiddenbookName" type="hidden" name="oldname">
        <input class="formButton" type="submit" value="DELETE">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        var books = <%- JSON.stringify(books) %> ;
    function newPanel() {
        if($('#newPanel').hasClass('hidden')) {
            $('#newPanel, #transparentScreen').removeClass('hidden');
        } else {
            $('#newPanel, #transparentScreen').addClass('hidden');
        }
    }
    function deletePanel() {
        if($('#deletePanel').hasClass('hidden')) {
        } else {
            $('#deletePanel, #transparentScreen2').addClass('hidden');
        }
    }

    /// Enable New Book Panel Btn
    $('#slug').on('change', () => {
        $('#createBtn').removeClass('disabled');
        $('#createBtn').removeAttr('disabled');
    })

    $(document).ready(()=> {
        /// Delete Panel Rendering
        $('.deleteBtn').on('click', (e)=> {
            $target = $(e.target);
            let theName = $target.attr('data-name');
            $('.bookNameHere').html(theName);
            $('.hiddenbookName').val(theName);
            $('#deletePanel, #transparentScreen2').removeClass('hidden');
        });

        //// Publish / Unpublish
        $('.pubBtn').on('click', async (e) => {
          $target = $(e.target);
          const id = $target.attr('data-id');
          const pub = $target.attr('data-pub');
          const data = JSON.stringify({'published': pub});
          $.ajax({
              type: 'POST',
              data: data,
              contentType: 'application/json',
              url: '/publish/' + id,
              success: (res) => {
                window.location = '/bookList';
              }
            }) 
        });

        $('.upBtn').on('click', async(e) => {
            $target = $(e.target);
            const id = $target.attr('data-name');
            $.ajax({
              type: 'POST',
              data: JSON.stringify({id: id}),
              contentType: 'application/json',
              url: '/up/' + id,
              success: (res) => {
                window.location = '/bookList';
              }
            }) 
        });
        $('.downBtn').on('click', async(e) => {
            $target = $(e.target);
            const id = $target.attr('data-name');
            $.ajax({
              type: 'POST',
              data: JSON.stringify({id: id}),
              contentType: 'application/json',
              url: '/down/' + id,
              success: (res) => {
                window.location = '/bookList';
              }
            }) 
        });
    })
    </script>

</body>