<html lang="en">
    <%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="wrapper">

        <!-- <div class="fullWBanner">
            <h1>Books by Mike Sager</h1>
        </div> -->
    
        <div class="content">
            
            <div class="books">
                <div id="screenBioContainer">
                <%- include('./partials/bioBanner.ejs')  %> 
                </div>

                <% books.forEach((thebook, index) => { %>
                    <% if (thebook.published == true) { %>
                        <a href="/book/<%= thebook.slug %>">
                        <div class="book">
                            <div class="book-thumb">
                                <% if(thebook.featimg) { %>
                                <img src="https://mikesager.s3.amazonaws.com/book/<%= thebook.slug %>/cover.jpg" alt="<%= thebook.title %>">
                                <% } else { %>
                                    <img src="./images/global/TheSagerGroup_Logo_white.svg" alt="TSG">
                                <% } %>
                            </div>
                            <div class="book-text">
                                <h2><%= thebook.title %></h2>
                                <h5><%= thebook.subtitle %></h5>
                                <p class="snippet">
                                <% thebook.snippet.forEach((theblock, index) => { %>
                                    <% if (theblock.type == "paragraph") { %>
                                        <%- theblock.data.text %>
                                    <% } %>
                                <% }); %>
                                </p>
                                <div class="readBtn screenReadBtn" ><p>Read More >></p></div>
                            </div>
                        </div>
                        <div class="readBtn mobileReadBtn" ><p>Read More >></p></div>
                        </a>
                    <% } %>
                <% }) %>
                <div id="mobileBioContainer">
                    <%- include('./partials/bioBanner.ejs')  %> 
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs')  %> 

    </div>

    <script>
        if (window.innerWidth < 800) {
            document.querySelector('#screenBioContainer').style.display = 'none';
            document.querySelector('#mobileBioContainer').style.display = 'block';
        } else {
            document.querySelector('#screenBioContainer').style.display = 'block';
            document.querySelector('#mobileBioContainer').style.display = 'none';
        }
        
        // if (window.innerWidth < 400) {
        //     var elems = document.querySelectorAll('screenReadBtn');
        //     var elems2 = document.querySelectorAll('mobileReadBtn');
        //     var index = 0, index2 = 1, length = elems.length, length2 = elems2.length;
        //     for ( ; index < length; index++) {
        //         elems[index].style.display = 'none';
        //     }
        //     for ( ; index2 < length2; index2++) {
        //         elems2[index2].style.display = 'block';
        //     }
        // } else {
        //     var elems = document.querySelectorAll('screenReadBtn');
        //     var elems2 = document.querySelectorAll('mobileReadBtn');
        //     var index = 0, index2 = 1, length = elems.length, length2 = elems2.length;
        //     for ( ; index < length; index++) {
        //         elems[index].style.display = 'block';
        //     }
        //     for ( ; index2 < length2; index2++) {
        //         elems2[index2].style.display = 'none';
        //     }
        // }
    </script>
</body>