<html lang="en">
    <%- include('./partials/head.ejs')  %> 

<body>
    <%- include('./partials/nav.ejs')  %> 

    <div class="wrapper">

        <div class="bookHeader">
            <div class="thumbL">
                <% if(book.featimg) { %>
                    <img src="https://mikesager.s3.amazonaws.com/book/<%= book.slug %>/cover.jpg" alt="cover">
                <% } else { %>
                    <img src="../images/global/TheSagerGroup_Logo_white.svg" alt="TSG">
                <% } %>
            </div>
            <div class="bookInfo">
                <h1><%= book.title %></h1>
                <h3><%= book.subtitle %></h3>
                <p>by <%= book.author %></p>
                <div class="links">
                    <% if (book.links.filter(e => e.type === 'pb').length > 0) { %>
                        <p><strong>Paperback Available at</strong><br/>
                        <% book.links.forEach((link, index) => { %>
                            <% if(link.type == 'pb') { %>
                                <a href="<%= link.url %>" target="_blank">
                                    <span><%= link.vender %></span>
                                </a>
                        <% } }) %>
                    <% } %></p>

                    <% if (book.links.filter(e => e.type === 'eb').length > 0) { %>
                    <p><strong>Ebook Available at</strong><br/>
                    <% book.links.forEach((link, index) => { %>
                        <% if(link.type == 'eb') { %>
                            <a href="<%= link.url %>" target="_blank">
                                <span><%= link.vender %></span>
                            </a>
                    <% } }) %>
                    <% } %></p>

                    <% if (book.links.filter(e => e.type === 'hc').length > 0) { %>
                    <p><strong>Hardcover Available at</strong><br/>
                    <% book.links.forEach((link, index) => { %>
                        <% if(link.type == 'hc') { %>
                            <a href="<%= link.url %>" target="_blank">
                            <span><%= link.vender %></span>
                            </a>
                    <% } }) %>
                    <% } %></p>
                </div>
                <!-- <p class="center bookdate">
                    <% var date = new Date(book.updatedAt); var dateStr = ("00" + (date.getMonth() + 1)).slice(-2) + " " + ("00" + date.getDate()).slice(-2) + " " + date.getFullYear();%><%=dateStr%>
                </p> -->
            </div>
        </div>
    
        <div class="content book-single noTopMargin">
            <div class="width650">
            <% book.body.forEach((theblock, index) => { %>
                <% if (theblock.type == "paragraph") { %>
                    <p><%- theblock.data.text %></p>
                <% } else if (theblock.type == "image") { %>
                    <img class="bookInline" src="<%= theblock.data.file.url %>" alt="image">
                    <p class="caption"><%- theblock.data.caption %></p>
                <% } else if (theblock.type == "header" && theblock.data.level == 1 ) { %>
                    <h1 class="book_heading"><%- theblock.data.text %></h1>
                <% } else if (theblock.type == "header" && theblock.data.level == 2 ) { %>
                    <h2 class="book_heading"><%- theblock.data.text %></h2>
                <% } else if (theblock.type == "header" && theblock.data.level == 3 ) { %>
                    <h3 class="book_heading"><%- theblock.data.text %></h3>
                <% } else if (theblock.type == "header" && theblock.data.level == 4 ) { %>
                    <h4 class="book_heading"><%- theblock.data.text %></h4>
                <% } else if (theblock.type == "header" && theblock.data.level == 5 ) { %>
                    <h5 class="book_heading"><%- theblock.data.text %></h5>
                <% } else if (theblock.type == "header" && theblock.data.level == 6 ) { %>
                    <h6 class="book_heading"><%- theblock.data.text %></h6>
                <% } else if (theblock.type == "linkTool") { %>
                    <a href="<%- theblock.data.link %>" target="_blank">
                        <div class="linkBanner">
                            <div class="text">
                                <h5><%- theblock.data.meta.title %></h5>
                                <p><%- theblock.data.meta.description %></p>
                                <% const thedomain = theblock.data.meta.image.url.match(/^(?:https?:\/\/)?(?:[^@\n]+@)?(?:www\.)?([^:\/\n?]+)/img)
                                %>
                                <p class="linkURL"><%= thedomain %></p>                            
                            </div>
                            <div>
                                <div class="linkimg">
                                    <img src="<%- theblock.data.meta.image.url %>" alt="<%- theblock.data.meta.title %>">
                                </div>
                            </div>
                        </div>
                    </a>
                <% } else if (theblock.type == "list" && theblock.data.style == 'unordered' ) { %>
                    <ul class="book-list">
                        <% theblock.data.items.forEach((item, index) => { %>
                        <li><%- item %></li>
                        <% }) %>
                    </ul>
                <% } else if (theblock.type == "list" && theblock.data.style == 'ordered' ) { %>
                    <ol class="book-list">
                        <% theblock.data.items.forEach((item, index) => { %>
                        <li><%- item %></li>
                        <% }) %>
                    </ol>
            <% }}); %>
        </div>
        <div class="spaceM"></div>

        <%- include('./partials/bioBanner.ejs')  %>
    </div>


    <%- include('./partials/footer.ejs')  %> 

</body>